    .container {
        margin-top: 5vw;
        border: 1px solid black;
        width: auto;
        height: auto;

        border-radius: 8px;

        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(0.95rem);

        font-size: 0.6vw;



        /* border: 1px solid black; */
        /* background: rgba(255, 255, 255, 0.15); */
        /* backdrop-filter: blur(0.75rem); */
        margin: 0.5vh;
        box-shadow: 2px 4px 10px 4px #514670,
            inset 0 8px 60px rgba(0, 0, 0, 0.1);
        /* border-radius: 10px; */
        padding: 25px;
        overflow: hidden;

    }

    .allow {
        color: rgb(235, 7, 7);
        text-shadow: 0.1px 0px #000000;
        /* text-shadow: 2px 4px 10px */
    }

    .allow:hover {
        font-size: small;
    }