body {
    padding-left: 0vw;
}

.container {
    display: flex;
    direction: row;
    align-content: space-around;
    padding-top: 2vw;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    width: 100vw;
}

.pkContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem;
    justify-content: space-around;
    border-radius: 5px;
    align-items: center;
}

.navFilterOrder {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    margin-left: 0.1vw;
    width: 10%;
    width: 10vw;
    flex-direction: row;
    display: flex;
}

.divPaginationText {
    color: rgb(183, 183, 183);
    text-shadow: 0px 4px 10px rgba(9, 9, 9, 0.89);
    -webkit-text-stroke: 0.002px rgb(165, 165, 165);
}

.numberLink {
    margin: 5px;
    justify-content: space-around;

}

.ulLabel {
    text-shadow: 0px 4px 10px rgba(9, 9, 9, 0.89);
    justify-content: space-around;
    flex-wrap: wrap;

    color: rgb(255, 255, 0);
    flex-direction: row;
    display: flex;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}

.numberLink:hover {
    cursor: pointer;
    color: rgb(226, 147, 1)
}


.numberLink:active {
    font-size: larger;
    color: rgb(0, 0, 0)
}