 * {
     border-radius: 7px;
     font-family: 'Righteous', cursive;

     text-decoration: none;

 }

 body {
     background-image: url('../styles/wallpapers/10.jpg');
     background-size: 100% 100%;
     display: flex;
     justify-content: center;
     background-attachment: fixed;
     background-repeat: no-repeat;
     text-decoration: none;
 }

 .container {
     display: flex;
     /* margin-top: 180px; */
     align-content: stretch;
     /* color: ; */
     border-color: black;
     font-size: 5.9vw;
     justify-content: center;
     align-items: center;
     flex-direction: column;

 }


 .button {
     border-radius: 50%;
     border: 3px solid black;
     text-decoration: none;
     text-size-adjust: 100%;
     backdrop-filter: blur(0.5);
     color: black;
     /* border-radius: 10px; */
     margin-left: 5px;
     margin-right: 10px;
     padding: 3px;
     background: rgb(255, 255, 1, 0.5);
     margin-top: 43vh;
     height: 100px;
     width: 100px
 }

 .button:hover {

     background: rgb(255, 255, 1);
     box-shadow: 2px 4px 10px 4px rgba(116, 4, 202, 0.426);
 }

 .press {
     margin-top: 20vh;

 }