 * {
     border-radius: 7px;
     font-family: 'Righteous', cursive;

     text-decoration: none;

 }

 body {
     background-image: url('../styles/wallpapers/10.jpg');
     background-size: 100% 100%;
     display: flex;
     justify-content: center;
     background-attachment: fixed;
     background-repeat: no-repeat;
     text-decoration: none;
 }

 .container {
     display: flex;
     /* margin-top: 180px; */
     align-content: stretch;
     /* color: ; */
     border-color: black;
     font-size: 5.9vw;
     justify-content: center;
     align-items: center;
 }


 .button {
     border-radius: 15px;
     border: 3px solid black;
     text-decoration: none;
     color: black;
     border-radius: 10px;
     margin-left: 5px;
     margin-right: 10px;
     padding: 3px;
     background: rgb(255, 255, 1);
     margin-top: 47vh;
 }

 .button:hover {

     box-shadow: 2px 4px 10px 4px rgb(255, 34, 0);
 }